@media (max-width: 499px){
    .Main_PageService_Container {
        font-family: -apple-system;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        margin-bottom: 20px;
        background-color: transparent;
        width: 60%;
    }

    .PageService_Container {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 100%;
        height: 95%;
        border-radius: 25px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        background-color: transparent;
    }

    .PageService_Header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;
        font-family: -apple-system;
        font-weight: bold;
        font-size: 0.7rem;
        background-color: transparent;
    }

    .PageService_Features {
        width: 100%;
        height: 60%;
        background-color: transparent;
    }

    .PageService_Features p {
        margin-left: 20px;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .PageService_Price_CTA {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
        background-color: transparent;
        border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
    }

    .PageService_Price {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 35%;
        height: 100%;
        font-size: 1.4rem;
        margin-right: 10px;
        background-color: transparent;
        border-bottom-left-radius: 45px;
    }

    .PageService_CTA {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 100%;
        background-color: transparent;
        border-bottom-right-radius: 45px;
    }

    .PageService_CTA button {
        width: 80%;
        height: 60%;
        border: 2px solid #1b1b1b;
        border-radius: 10px;
        font-size: 0.6rem;
        font-weight: bold;
        background-color: #1b1b1b;
        color: whitesmoke;
        transition: all 0.2s ease-in-out;
    }

    .PageService_CTA button:hover {
        background-color: transparent;
        color: #1b1b1b;
    }
}

