.main_service_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 100%;
    background-color: transparent;
}

.main_service_top {
    text-align: left;
    text-decoration: inherit;
    font-size: 27px;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 900;
    color: #F8F8F8;
    line-height: 1;
    padding: 0 0 18px 30px;
    margin: 0;
    width: 100%;
}

.main_services_container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 1rem;
    overflow-x: auto;
    margin-top: 0;
    scroll-snap-type: x mandatory;
}

.main_service_page {
    background-color: transparent;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_service_page_container {
    background-color: #161616;
    height: 18px;
    width: 55px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5px;
    padding-right: 5px;
}

.scroll_page {
    background-color: black;
    margin: 25%;
    border-radius: 100%;
    border: none;
    padding: 0%;
}

.scroll_page_clicked {
    background-color: #F8F8F8;
    margin: 25%;
    border-radius: 100%;
    border: none;
    padding: 0%;
}