.nav_footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 86%;
    margin-top: 18px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.nav_footer_contact_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    width: 50%;
}

.nav_footer_contact_email, .nav_footer_contact_data {
    font-family: -apple-system;
    margin: 0;
}

.nav_footer_contact_email {
    color: #2b2b2b;
    font-weight: 200;
}

.nav_footer_profile_data {
    font-weight: 400;
}

.nav_footer_impressum_blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    width: 50%;
}

.nav_footer_impressum, .nav_footer_blog {
    font-family: -apple-system;
    margin: 0;
    text-align: end;
    font-weight: 200;
    font-size: 1rem;
    color: #838383;
}
