.Main_FeatureSlide_Container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 45px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.Main_FeatureSlide_Flipper {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    position: absolute;
    top: 0;
}

.Main_FeatureSlide_Top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 45px;
    background-color: transparent;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.Main_FeatureSlide_Bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: top 0.3s ease-in-out;
    background-color: rgba(240, 240, 240, 80%);
    border-radius: 45px;
}

.Main_FeatureSlide_Container:hover .Main_FeatureSlide_Top {
    transform: translateY(-100%);
}

.Main_FeatureSlide_Container:hover .Main_FeatureSlide_Bottom {
    top: 0;
}

.Main_FeatureSlide_Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 45px;
    width: 300px;
    height: 300px;
}

.Main_FeatureSlide_Top p {
    margin-left: 30px;
}

.Main_FeatureSlide_Top_Header {
    font-family: Inter, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.Main_FeatureSlide_Top_Text {
    font-family: Inter, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 80%;
}

.Main_FeatureSlide_Bottom p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 100;
    width: 90%;
    color: #1d1d1d;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
}

.wave {
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -100%;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 499px) {
    .Main_FeatureSlide_Container {
        width: 160px;
        height: 160px;
        border-radius: 20px;
    }

    .Main_FeatureSlide_Text {
        width: 160px;
        height: 160px;
    }

    .Main_FeatureSlide_Top p {
        font-size: 0.8rem;
        width: 60%;
        margin-left: 12px;
    }

    .Main_FeatureSlide_Bottom p {
        font-size: 0.6rem;
        margin-top: 15px;
        font-weight: 300;
    }

    .Main_FeatureSlide_Bottom {
        border-radius: 20px;
    }
}