.main_catalog_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 60%;
    background-color: transparent;
    transition: max-height 0.5s ease-out;
}

.main_catalog_section button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #181818;
    color: #E8E8E8;
}

.main_catalog_section {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.hiddenCatalog {
    max-height: 0;
    background-color: transparent;
}

.shownCatalog {
    max-height: 200px;
    background-color: transparent;
}