body {
  margin: 0;
  font-family: -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

code {
  font-family: -apple-system;
  background-color: #181818;
}

.main_blocks_container {
  margin-top: 150px;
}
