.MobileBody {
    display: flex;
    flex-direction: column;
    background-color: #101010;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.beta_text {
    color: #ffffff;
    font-family: -apple-system;
    font-weight: 20;
    text-align: center;
    width: 80%;
}

.first_contact_button {
    width: 50%;
    height: 30px;
    color: #181818;
    bottom: 58px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 200;
}

.Beta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobileMenu {
    width: 100%;
}






