@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&display=swap');

.main_body_main_section {
    width: 100%;
    height: auto;
}

.main_body_main_section p {
    text-align: left;
    font-size: 27px;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 900;
    color: #F8F8F8;
    text-decoration: inherit;
    line-height: 1;
    padding: 10px 0 0 17px;
    margin: 0;
}

.main_body_main_description_image {
    display: flex;
    flex-direction: row;
    height: 305px;
}

.main_body_main_description p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    font-size: 17px;
    text-align: start;
    transform: rotate(90deg) translateY(90%) translateX(35%);
    position: absolute;
    color: #F8F8F8;
    line-height: 1.2;
}

.main_body_main_description l {
    color: #F8F8F8;
    font-weight: 400;
}

.main_body_main_image {
    width: 75%;
    transform: translateY(-15%);
}

.main_body_main_image img {
    width: 120%;
    margin-left: 100px;
}

.main_body_main_request {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.request_feature {
    background-color: transparent;
    width: 100%;
    inline-size: min(100% - 4rem, 70rem);
    height: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.request_feature img {
    height: 100%;
    margin-right: 10px;
}

.request_feature p {
    padding: 0%;
    margin: 0%;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.main_body_main_request button {
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 10px;
    border: none;
    border-radius: 45px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    background-color: #F8F8F8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}