@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200&display=swap');

.services_servicecard_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: 15px;
    background-color: #161616;
    color: #F8F8F8;
    margin-top: 30px;
    padding: 0 0 20px 0;
}

.services_service_header, .services_service_text {
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 15px;
}

.services_service_header {
    font-weight: 200;
    font-size: 1.8rem;
    padding: 0;
    margin: 15px 0 0 15px;
}

.services_service_card_section p {
    width: 80%;
    font-weight: 100;
    font-size: 16px;
    padding: 0;
}

.services_service_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.services_service_list {
    list-style-type: armenian;
    font-weight: 100;
    font-size: 15px;
    margin: 0;
}