.Header {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: transparent;
    color: #1d1d1d;
}

.Header_Logo_Text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 25px;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.Header_Logo {
    width: 80px;
    height: auto; 
    transition: all 0.2s ease-in-out;
}

.Header_Text {
    font-size: 2rem;
    font-weight: bolder;
}

.Header_Logo_Text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.Header_Searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.Header_Searchbar_Text_Input {
    width: 55%;
    border-color: #DFDFDF;
    font-size: 1rem;
    background-color: #1b1b1b;
    border-radius: 20px;
    color: white;
    padding-left: 15px;
}

.Header_Search_Menu_Login_Register {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    font-family: Inter, sans-serif;
}

.Header_Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.Header_Menu_Button {
    padding: 10px 30px 10px 30px;
    margin-right: -30px;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
}

.Header_Login_Register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.Header_Login_Button, .Header_Register_Button {
    margin-right: 30px;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
}

.Header_Login_Button {
    background-color: transparent;
    padding: 10px 30px 10px 30px;
}

.Header_Register_Button {
    background-color: #1d1d1d;
    color: white;
    border-radius: 10px;
    padding: 8px 28px 8px 28px;
    border: 2px solid #1d1d1d;
    transition: all 0.2s ease-in-out;
}

.Header_Register_Button:hover {
    background-color: transparent;
    color: #1d1d1d;
}
