.desktop_custom_container {
    background-color: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop_custom_content {
    background-color: transparent;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.desktop_custom_header {
    background-color: transparent;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop_custom_header h1 {
    text-align: center;
    font-size: 4.5rem;
}

.desktop_custom_card {
    background-color: white;
    width: 100%;
    height: 70%;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
}

.desktop_custom_card_features {
    background-color: transparent;
    width: 50%;
    height: 100%;
}
.desktop_custom_card_features h2 {font-size: 1.5rem;}
.desktop_custom_card_features p {font-size: 1.5rem;}

.advanced-features {
    background-color: transparent;
    padding-top: 10%;
    padding-left: 15%;
    width: 85%;
}
.advanced-features div{
    background-color: transparent;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.advanced-features div p{
    margin-top: 5%;
    margin-bottom: 5%;
}
.premium-features {
    background-color: transparent;
    padding-left: 15%;
    width: 85%;
}
.premium-features div{
    background-color: transparent;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.premium-features div p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.desktop_custom_card_description {
    background-color:transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.desktop_custom_card_description_text {
    background-color: transparent;
    width: 100%;
    height: 60%;
}

.desktop_custom_card_description_text p{
    padding-top: 15%;
    padding-right: 15%;
    margin: 0%;
    font-size: 1.5rem;
}

.desktop_custom_card_description_pricing {
    background-color: transparent;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.desktop_custom_card_description_pricing_selection {
    background-color:transparent;
    width: 100%;
    height: 25%;
    margin-top: 10%;
}
.desktop_custom_card_description_pricing_selection p{
    font-size: 1.5rem;
    margin: 0%;
    color: rgb(177, 177, 177);
}
hr {
    border: none;
    border-bottom: 1px solid rgb(177, 177, 177); 
    margin: 10px 0;
    width: 60%;
}

.desktop_custom_card_description_pricing_price {
    background-color: transparent;
    height: 75%;
    width: 85%;
}

.desktop_custom_card_description_pricing_price_main {
    background-color: transparent;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.desktop_custom_card_description_pricing_price p {
    font-size: 4rem;
    font-weight: 800;
    margin: 0%;
    padding: 0%;
}

.desktop_custom_card_description_pricing_price span {
    font-size: 2rem;
}

.desktop_custom_card_description_pricing_price button{
    background-color: black;
    font-size: 1.5rem;
    margin: 0%;
    padding: 2%;
    border: none;
    border-radius: 48px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    color: white;
}

.desktop_custom_card_description_pricing_price button:hover {
    background-color: white;
    color: black;
}